<h4 class="text-center"> Registre-se e mostre seu pet no mundo.</h4>
<form class=" form mt-4">
  <div class="form-group">
    <input type="text" placeholder="email" class="form-control">
  </div>
  <div class="form-group">
    <input type="text" placeholder="nome completo" class="form-control">
  </div>
  <div class="form-group">
    <input type="text" placeholder="usuário" class="form-control"/>
  </div>
  <div class="form-group">
    <input type="password" placeholder="senha" class="form-control">
  </div>
  <button class="btn btn-primary btn-block">Cadastro</button>
</form>

<p>ja é um usuário?<a [routerLink]="['']">logar-se</a></p>
